body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h2 {
  text-align: center;
}
 
/*Movie Component */
.movieList {
  text-align: center;
}

.movieStyling {
  margin: 0 auto;
  width: auto;
  list-style-position: inside;
}

.movieStyling li {
  margin: .5em auto;
  font-weight: bold;
  font-size: 2em;
  padding: .2em 5em;
}

/*User Component */
.userContainer {
  border-top: 2px solid #000;
}

.nameContainer {
  display: flex;
}

.userName {
  width: 80%;
  margin: 0 auto;
}

.userName > div {
  font-size: 1.5em;
  padding: .5em 1em;
  /* margin: 1.5em auto; */
}

.userName > div:nth-child(odd) {
  background-color: lightgray;
}

.contactInfo {
  cursor: pointer;
  font-weight: bold;
  margin-top: -1em;
  color: blue;
}